<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= @item.name %></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href='http://fonts.googleapis.com/css?family=Ovo|Merriweather+Sans' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
	  html, body {
	    padding:0;
	    margin:0;
	  }
	  body {
	    background:#eee;
	  }
	  #page {
	    margin:20px;
	    overflow:hidden;
	  }
	  #page h1#article-title {
	    line-height:1.5;
	    margin:0;
	    margin-bottom:20px;
	    font-family:"Merriweather+Sans", "Helvetica Neue", Helvetica, sans-serif;
	  }
	  #page div#content {
	    line-height:1.8;
	    font-family:"Ovo", Georgia, "Times New Roman", Times, sans-serif;
	  }
	  #page div#content p {
	  }
	  #page div#content a {
	    color:#740004;
	    font-weight:bold;
	    text-decoration:none;
	  }
	  #page div#content img {
	    display:none;
	    width:100%;
	  }
  </style>
	
</head>

<body>
  
  <section id="page">
    <h1 id="article-title"><%= @item.name %></h1>
    <div id="content">
      <%= raw @article.content %>
    </div>
  </section>

</body>
</html>
