<% @items.each do |item| %>
  <article class="item">
    <div class="top">
      <img class="icon" src="img/venue.png"/>
      <p class="time"><%=item.minutes%></p>
      <div class="clear"></div>
    </div>
    <div class="image">
      <img src="http://www.sobernation.com/wp-content/uploads/fast-food.jpg" alt="image" />
      <h2 class="action">learn</h2>
    </div>
    <div class="bottom"><%=item.name%></div>
  </article>
<% end %>